@font-face {
    font-family: MinecraftTen;
    /* TODO: figure out how to properly do this with jinja */
    src: url("assets/fonts/MinecraftTen.ttf");
}

@font-face {
    font-family: MinecraftSeven;
    src: url("assets/fonts/MinecraftSeven.ttf");
}


#base_container {
    padding: 40px;
    padding-bottom: 80px;

    max-width: 700px;

    font-size: medium;
}


#page_header_seperator {
    margin-bottom: 40px;
}


#page_header {
    margin-bottom: 20px;
}

#page_header h1 {
    margin-bottom: 0px;
    margin-top: 0px;

    font-family: MinecraftTen;
    font-weight: normal;
}

#page_header .image {
    float: left;
    width: 70px;
    height: 70px;

    margin-right: 15px;
}


#page_footer {
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;

    padding: 10px;

    background-color: white;

    z-index: 10;
}


#page_footer .right {
    display: flex;
    justify-content: flex-end;
}


#page_footer .left * {
    margin-right: 10px;
}

#page_footer .right * {
    margin-left: 10px;
}


#page_footer .get_version {
    color: gray;
}


#base_download_segment {
    margin-top: 40px;
}



/* unrelated css stuff */
.component_segment .component_header h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;

    position: relative;
    bottom: 3px;
    right: 2px;
}

.component_segment .component_header img {
    display: inline;

    width: 25px;

    position: relative;
    top: 2px;
    left: 2px;
}


.component_preview img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}