{% extends "base.html" %}


{% block content %}

<script src="{{ url_for("static", filename="js/index.js")}}"></script>

{% include "components/experience_bar.html" %}
{% include "components/hearts.html" %}
{% include "components/enchanted_glint.html" %}

<div class="ui segment" id="base_download_segment">
    <button class="ui primary button" id="download_button">
        <i class="cloud download alternate icon"></i>
        Download
    </button>

    <div class="ui label">
        Minecraft 1.20.4+
    </div>
</div>

{% endblock %}