{% extends "module.html" %}

{% block title %}Enchanted Glint{% endblock %}
{% block id %}e_glint{% endblock %}

{% block toggle_id %}e_glint_enabled{% endblock %}
{% block segment_id %}e_glint_segment{% endblock %}

{% block segment %}
<!-- flag selection -->
<div class="field">
    <label>Flag</label>
    <div class="ui selection dropdown">
        <input type="hidden" name="e_glint_flag" id="e_glint_flag">
        <i class="dropdown icon"></i>
        <div class="default text">Select Flag</div>
        <div class="menu" id="_e_glint_flag_menu">
            <div class="item" data-value="a">a</div>
        </div>
    </div>
</div>
{% endblock %}