<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    
    <link rel="icon" type="image/x-icon" href={{ url_for("static", filename="assets/favicon.png")}}>

    <title>MC Pride Pack Generator</title>
</head>
<body>
    <script src="{{ url_for("static", filename="index.js") }}"></script>

    <div style="padding: 40px; font-size: medium;">
        <div class="ui grid container centered">
            <div class="ten wide column">
                <!-- title -->
                <h1 class="ui huge header" style="margin-bottom: 0px;">mc pride pack generator</h1>
                <div class="ui text" style="margin-bottom: 40px;">gay people</div>

                <!-- experience bar module-->
                {% include "modules/experience_bar.html" %}

                <!-- hearts module-->
                {% include "modules/hearts.html" %}

                <!-- enchanted glint module-->
                {% include "modules/enchanted_glint.html" %}

                <!-- controls -->
                <div class="ui segment">
                    <button class="ui primary button" id="generate">Generate</button>
                </div>

                <p>by <a href="https://imcodist.xyz">imcodist</a></p>
            </div>
        </div>
    </div>
</body>
</html>