<!-- 
    blocks are "toggle_id", "title", "id", "segment_id", and "segment"

-->

<div class="ui segments">
    <div class="ui segment">
        <div class="ui toggle checkbox">
            <input type="checkbox" name="{% block toggle_id %}{% endblock %}" id="{{ self.toggle_id() }}">
        </div>
        <img src="{{ url_for("static", filename="assets/icons/") }}{% block id %}{% endblock %}.png" style="width: 24px; position: relative; top: 2px; right: 4px;">
        <h3 style="display: inline; position: relative; bottom: 4px;">{% block title %}{% endblock %}</h3>
    </div>

    <div class="ui segment form" id="{% block segment_id %}{% endblock %}">
        {% block segment %}{% endblock %}
    </div>
</div>

<script>
    $(`#{{ self.toggle_id() }}`).on("change", () => {doToggleSegment("{{ self.toggle_id() }}", "{{ self.segment_id() }}")});
    doToggleSegment("{{ self.toggle_id() }}", "{{ self.segment_id() }}");
</script>