<div class="ui segments component_segment" id="c_{% block component_id %}{% endblock %}">
    <div class="ui segment component_header">
        <div class="ui toggle checkbox component_checkbox" id="c_{{ self.component_id() }}_checkbox">
            <input type="checkbox" name="c_{{ self.component_id() }}_checkbox_input" id="c_{{ self.component_id() }}_checkbox_input">
            <label></label>
        </div>

        <h3>{% block component_name %}{% endblock %}</h3>

        <img src="{{ url_for("static", filename="assets/icons/")}}{% block component_icon %}{% endblock %}" alt="">
    </div>
    
    <div class="ui segment component_options component_content" id="c_{{ self.component_id() }}_options">
        {% block options_content %}{% endblock %}
    </div>

    <div class="ui segment component_preview component_content" id="c_{{ self.component_id() }}_preview">
        <img src="{{ url_for("static", filename="assets/previews/") }}{{ self.component_id() }}.png" alt="">
    </div>
</div>

<style>
    .component_preview {
        background-image: url(' {{ url_for("static", filename="assets/dirt.png") }} ') !important;
    }

    .component_content {
        display: none;
    }
</style>